@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Mona Sans";
    font-weight: 200 900;
    font-stretch: 75% 125%;
    src: url(/fonts/Mona-Sans.woff2) format("woff2");
  }
}
